registry=https://nexus-gcj.apps.crp-gate.ec1.aws.aztec.azcs.io/repository/npm-public/
email=gdf-npm-read@allianz.com
always-auth=true
_auth=Z2RmLW5wbS1yZWFkOmdkZg==
@ionic-enterprise:registry=https://registry.ionicframework.com/
registry.ionicframework.com/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI5YzMzZTkyYy0xY2U3LTQ2Y2YtYTQ3MS0yYWU4MzI1OGFkYmUiLCJqdGkiOiJYdWdJb1ltWHhDUHkzZ3RFak9heklSX0lCUHNJNDhtZHZDb19WQW1ZdzBnIn0.AxsV2t60_AgK-WSmnuaPx6_tWrfXxYfQo6Oddf_hKoeo9zA2OmCU11t_uv_R277jk5HhMntZvXdKrr2MB9R8jUmfK_zyC4rWJ9la-VtQ1R6xiaOqHHPoOFCtMWL5QbuDTnGni0PJNxXjE-iDQHtLyl-RJc1gu3X2nQDbYAy1rIhgiQi0dqAZtLpGl-pH0ZQCIMQXX17tm1JbwwW1HyDikoird3ViQYE9rmfZmOPcAHjNZvEEAyTDak2MZZEjzQu7QQPcgScFBZd2yNJTbg8giFnP98iHWI4QR2pdC56xQ6XY1YN4ohdrW8i5NqBzURHKZJASSyw93k0vl2qaICapcQ
